@model IEnumerable<MIS33K.Models.Book>

@{
    ViewBag.Title = "ManualProcurementOrder";
}

<h2>Manually Procure Your Books Today Pleb!</h2>

<p>
   

    @using (Html.BeginForm("Index", "Books", FormMethod.Get))
    {
        <div>
            Genre: @Html.DropDownList("searchGenre", "All")<br />
            Title: @Html.TextBox("searchTitle")<br />
            Author Last Name: @Html.TextBox("searchAuthorLastName") <br />
            Author First Name: @Html.TextBox("searchAuthorFirstName") <br />
            SKU: @Html.TextBox("searchSKU")<br />

            <label class="control-label">Search Type:</label>
            <label class="radio-inline"><input type="radio" name="searchType" value="@SearchTypes.KEYWORD" checked="checked" />Keyword</label>
            <label class="radio-inline"><input type="radio" name="searchType" value="@SearchTypes.EXACT" />Exact</label><br /><br />
            <label class="control-label">Make this an OR search: @Html.CheckBox("ORSearch", false, new { @class = "checkbox" })</label> <br /><br />
            @*this is the search button*@
            <input type="submit" value="Search" />
            @*this is the reset button*@
            @Html.ActionLink("Reset Form", "Index", null, new { @class = "btn btn-active" })
        </div>
    }



</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookSKU)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorFName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorLName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CountonHand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProfitMargin)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookSKU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorFName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorLName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CountonHand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProfitMargin)
            </td>
            <td>
                @Html.ActionLink("Order", "POrderBooks", new { id = item.BookID })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Your Order", "POrdersList")